<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FusionFoods</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.FusionFoods.Servlets.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuListServlet</display-name>
    <servlet-name>MenuListServlet</servlet-name>
    <servlet-class>com.FusionFoods.Servlets.MenuListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuListServlet</servlet-name>
    <url-pattern>/MenuListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.FusionFoods.Servlets.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryServlet</display-name>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <servlet-class>com.FusionFoods.Servlets.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <url-pattern>/OrderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.FusionFoods.Servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>